<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock</th>
    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="mfg_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> MFG Date</th>
    <td mat-cell *matCellDef="let element"> {{element.mfg_date}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="warranty">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Warranty</th>
    <td mat-cell *matCellDef="let element"> {{element.warranty}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button type="button" (click)="deleteProduct(element)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="updateProduct(element)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
<button mat-button color="primary" class="form-control" type="button" (click)='addProduct()'>
  <mat-icon>add</mat-icon>ADD NEW Product
</button>
