table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.columnstyle{
  margin-left:1300px;
}
th{
  font-style: bold;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
